:root {
  --primary-color: #FCAA1E;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  width: 80px;
  padding: 0.5rem 0.3rem;
  margin: 13px 10px;
  position: relative;
}

.card__title {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  padding-bottom: 10px;
}

.card__price {
  font-size: 14px;
}

.image__container {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.image__container img {
  width: 100%;
  object-fit: cover;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card__price {
  text-align: center;
  display: inline-block;
}

.card__badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FCAA1E;
  border-radius: 12px;
  padding: 2px 8px;
  transform: translate(-10px, 0px) scale(1);
  transition: all 0.3s ease-in-out;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: default;
}

@keyframes scaleanimation {
  to {
    transform: translate(20px, -20px) scale(1.05);
    opacity: 1;
  }
}

.card__badge--hidden {
  display: none;
}